video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#project h3{
    padding: 0 5rem;
}

#project h3:nth-of-type(1) {
    text-align: center;
    margin-top: unset;
}

.section-title {
    transform: rotate(-0.25turn);
    width: 50px;
    padding: 5rem 0;
    font-size: 1rem;
    position: sticky;
    top: 0;
}

.card-message {
    width: 40%;
}


#highlights {
    text-align: center;
}

#highlights video {
    max-width: 60vw;
    max-height: 70vh;
    object-fit: cover;
}

.card-container {
    width: 80vw;
    max-width: 1440px;
}

.fb-50 {
    flex-basis: 50%;
}

#our-focus {
    margin-bottom: 10rem;
}

img:not(nav a img, #footer-logo){
    border-radius: 5px;
    /* box-shadow: 0 10px 20px rgb(0 0 0 / 0.2); */
    transition-property: transform, border-radius, box-shadow;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;

}

img:not(nav a img, #footer-logo):hover{
    border-radius: 5%;
    transform: translate3d(0, -10px, 0 );
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
}

span {
    text-shadow: none;
    transition: text-shadow 0.4s ease-in-out;
}

span:hover {
    text-shadow: 0.5px 0.5px #4e7fbc9a;
}

/* ANIMATION */
.past-img {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.past-img-animation:nth-of-type(1) {
    opacity: 1;
}

.past-img-animation:nth-of-type(2) {
    transition-delay: 200ms;
    opacity: 1;
}

.past-img-animation:nth-of-type(3) {
    transition-delay: 400ms;
    opacity: 1;
}

.from-left h3,
.from-left span {
    opacity: 0;
    transform: translateX(-100%);
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    
}

.from-left footer {
    opacity: 0;
    transform: translateX(0);
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

.from-left h3 {
    transition-delay: 0.2s; 
}

.from-left span {
    transition-delay: 1s; 
}

.from-left footer {
    transition-delay: 1.5s; 
}

.from-right h3,
.from-right span {
    opacity: 0;
    transform: translateX(100%);
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

.from-right footer{
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-in-out
}

.from-right h3 {
    transition-delay: 0.2s;
}

.from-right span {
    transition-delay: 1s;
}

.from-right footer{
    transition-delay: 1.5s;
}

.right-animate, 
.from-right.right-animate h3,
.from-right.right-animate span,
.left-animate,
.from-left.left-animate h3,
.from-left.left-animate span {
    opacity: 1;
    transform: translateX(0);
}

.from-left.left-animate footer,
.from-right.right-animate footer {
    opacity: 1;
}


section #call-to-action {
    display: block;
    padding: 5rem 15rem;
    font-size: 6rem;
    font-weight: 100;
    height: 50vh;
    
    transition: background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
}

.cta-animate {
    background-color: var(--dark-color);
    color: white;
    
}
.cta-animate strong {
    color: indianred;
}