.d-inline-block {
    display: inline-block;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.mt-3 {
    margin-top: 3rem;
}

.mtb-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.text-end {
    text-align: end;
}

.fj-space-between {
    justify-content: space-between;
}

.al-content-center {
    align-content: center;
}

.button {
  text-decoration: none;
  color: var(--dark-color);
  width: fit-content;
  padding: 1rem;
  border-radius: 30px;
  border: 1px solid var(--dark-color);
  font-size: 1.5rem;
}

.gap-4 {
    gap:4rem
}

.flex-column {
    flex-direction: column;
}

.flex-end {
    align-items: flex-end;
}

.m-auto {
    margin: auto;
}

.p-4 {
    padding: 4rem;
}

.plr-6 {
    padding-left: 6rem;
    padding-right: 6rem;
}


.fj-space-around {
    justify-content: space-around;
}
.fj-space-evenly {
    justify-content: space-evenly;
}

.fj-end {
    justify-content: end;
}

.fj-start {
    justify-content: start;
}

.al-f-end {
    align-items: flex-end;
}

.f-r-reverse {
    flex-direction: row-reverse;
}

.fb-50 {
    flex-basis: 50%;
}

.fb-30 {
    flex-basis: 30%;
}