.camera-bg {
    background-image: url('../assets/camera.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
}

section article img.gallery {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: unset;
    object-fit: cover;
    transition: transform 0.3s ease; /* Smooth zoom effect */
}

img.gallery:hover  {
    transform: scale(1.1); /* Slight zoom effect */
  }

section#gallery-section {
    width: 100%;
    max-width: unset;
    gap: 0;
}

.gallery-card {
    flex: 1 0 33.33%;
    position: relative;
    overflow: hidden;
}

/* Add the black tint using ::after */
.gallery-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1; /* Make sure it's above the image but below the text */
  }
  
  /* Hover effect to show the tint */
  .gallery-card:hover::after {
    opacity: 1; /* Show the black tint */
    cursor: pointer;
  }
  
  /* Text styling */
  .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    opacity: 0;
    z-index: 2; /* Make sure the text is above the overlay */
    transition: opacity 0.3s ease;
    text-align: center;
  }
  
  /* Show the text on hover */
.gallery-card:hover .hover-text {
    opacity: 1;
  }

section.modal main.modal-content  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
 }

section.modal main.modal-content img {
    width: 80vw;
    margin: auto;
 }

 h3, h4 {
  margin: 2rem 0;
 }

 h3 {
  text-align: center;
 }


 section.modal main.modal-content h4 {
  font-size: 2rem;
}

span {
  font-size: 1.5rem;
}