#slideshow-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

#slideshow-footer {
   width: 100vw;
   height: 50vh;
   position: absolute;
   bottom: 0px;
   left: 0px;
   background: linear-gradient(to top, #0000009c, transparent);
   padding: 3rem 4rem;
}

button {
    background-color: unset;
    border: none;
    color: var(--light-color);
    font-size: 5rem;
    opacity: 70%;
    transition-property: opacity;
}

button:hover {
    opacity: 100%;
}

body {
    background-color: var(--dark-color);
}

.video-information {
    color: var(--light-color);
}

h2 {
    font-size: xx-large;
}


h3 {
    margin: unset;
    font-weight: 500;
}

h4 {
    margin: 1.5rem 0;
    font-size: 2rem;
    font-weight: 300;
}

section.video-information h3 {
    opacity: 0; 
    animation: slideUp 1s  ease-out forwards .5s;
}

section.video-information h4 {
    opacity: 0; 
    animation: slideUp 1s  ease-out forwards 1s;
}

section.video-information span {
    opacity: 0; 
    animation: slideUp 1s  ease-out forwards 1.5s;
}

.fb-40 {
    flex-basis: 40%;
}

.hidden {
    opacity: 0;
    animation: none;
}

