
<section class="d-flex">
    <div class="fb-50">
        <h3>Works</h3>
        <ul>
            <li>Video/Drone</li>
            <li>Photography</li>
            <li>Audio and Recording</li>
        </ul>
    </div>
    <a class="al-content-center" href="#home"><img height="150" src="./assets/logo.svg" alt="Logo"></a>
</section>
<section>
    <i class="fa fa-youtube-play" style="font-size:36px"></i>
    <a href="#home"><i class="fa fa-youtube-play" style="font-size:36px"></i></a>
    <p>&copy; 2024 Night Sparrow Productions. All Rights Reserved.</p>
</section>